/* .btn {




    padding: 10px;
    border: 1px;
    border-radius: 5px;
    border-color: goldenrod;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: darkyellow;

} */